body {background: lightblue;
color: black;
font-size: 18pt;}

nav li {display:inline-block}


nav li {border:5px solid darkblue}









a {color: darkblue;
text-decoration: none}
a:hover{color:blue} 