body {background: #8CE68C;
color: darkblue;
font-size: 14pt;}

nav li {display:inline-block}


nav li {border:5px solid darkgreen}


IMG {border: 10px solid #00A366}






a {color: darkblue;
text-decoration: none}
a:hover{color:blue} 